{% extends 'base.html' %}
{% load widget_tweaks %}

{% block contenido %}
<form method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="container">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_nombre">Nombre Completo: </label>
            <div class="col-sm-10">
                {{ form.nombre | add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_razon_social">Razon Social: </label>
            <div class="col-sm-10">
                {{ form.razon_social | add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_identificacion">Tipo de Identificacion: </label>
            <div class="col-sm-10">
                {{ form.identificacion | add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_cedula">Numero de Cedula: </label>
            <div class="col-sm-10">
                {{ form.cedula | add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_genero">Genero: </label>
            <div class="col-sm-10">
                {{ form.genero | add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_correo">Correo Electronico: </label>
            <div class="col-sm-10">
                {{ form.correo | add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_telefono">Telefono: </label>
            <div class="col-sm-10">
                {{ form.telefono | add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_archivado">Archivado?: </label>
            <div class="col-sm-10">
                {{ form.archivado }}
            </div>
        </div>
    </div>

    <div class="text-right">
        <input class="btn btn-primary" type="submit" value="Guardar" />
        <a class="btn btn-primary" href="{% url "proveedores:list" %}">Regresar</a>
    </div>
</form>
{% endblock contenido %}